<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BingMapsKey" value="wmDPVA9ieovqAKoxMHwk~7uXaUZrUavyrwMM7-s69rQ~ArUBcqwLcVmju1mHC_PmhQm5bZFLaD8Px0pYucc9XQpaNDAqc9F2UWxyLM7cOqRf "/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>